# VS Code specific files
.vscode/**
.vscode-test/**

# Source code
src/**
**/*.ts
!webview-ui/build/**
!dist/**/*.js

# Build outputs and configs
out/**
node_modules/**
.gitignore
tsconfig.json
webpack.config.js
esbuild.js
.eslintrc.json
.prettierrc
.git
.github
.husky

# Tests
**/__tests__/**
**/__mocks__/**
**/test/**
**/*.test.ts

# Other
.changeset
.clinerules
.git-blame-ignore-revs
.gitconfig
.npmrc
.nvmrc

# Custom
demo.gif
.gitattributes
.prettierignore

# Ignore all webview-ui files except the build directory (https://github.com/microsoft/vscode-webview-ui-toolkit-samples/blob/main/frameworks/hello-world-react-cra/.vscodeignore)
webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/index.html
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**
**/.gitignore

# Fix issue where codicons don't get packaged (https://github.com/microsoft/vscode-extension-samples/issues/692)
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf

# Include default themes JSON files used in getTheme
!src/integrations/theme/default-themes/**

# Include icons
!assets/icons/**